<div class="sorein-trust-badges">
  <div class="sorein-trust-badge">
    {% render 'sorein-icon', icon: 'shield', width: 18, height: 18 %}
    <span>30-Day Returns</span>
  </div>
  <div class="sorein-trust-badge">
    {% render 'sorein-icon', icon: 'award', width: 18, height: 18 %}
    <span>2-Year Warranty</span>
  </div>
  <div class="sorein-trust-badge">
    {% render 'sorein-icon', icon: 'leaf', width: 18, height: 18 %}
    <span>Carbon Neutral</span>
  </div>
  <div class="sorein-trust-badge">
    {% render 'sorein-icon', icon: 'clock', width: 18, height: 18 %}
    <span>Fast Dispatch</span>
  </div>
</div>
